@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/* line 2, ../sass/_main.scss */
.container {
  margin: 0 auto;
}

/* line 3, ../sass/_transport.scss */
.transport__coachstations-map {
  height: 500px;
  width: 100%;
}
